:host{

}
.ghost{
    height: 6rem;
}
.inputMessageframe{
    display: flex;
    flex-direction: column;
}
.inputMessage{
    height: 6rem;
    background-color: rgba(14, 13, 13, 0.986);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
    position: fixed;
    bottom: 0;
    width:-webkit-fill-available;
}

input{
    height: 3rem;
    border-radius: 0.3rem;
    color: black;
    flex: 1;
}

button{
    width: 8rem;
    height: 4rem;
    border: solid rgb(255, 255, 255);
    border-radius: 0.4rem;
    color: black;
    background-color: aquamarine;
    cursor: pointer;
}